<!doctype html>
<html lang="vi">
<head ><meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="pingback" href="http://dochoidaiviet.com/xmlrpc.php" />
<title>Giới thiệu - Đồ Chơi Đại Việt</title>
<meta name='robots' content='max-image-preview:large' />

<!-- This site is optimized with the Yoast SEO plugin v12.7.1 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Công ty đồ chơi đại việt chuyên cung cấp các thiết bị trò chơi trẻ em - Thiết kế nhà liên hoàn - Đồ chơi công viên - đồ cchơi cảm giác mạnh"/>
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
<link rel="canonical" href="http://dochoidaiviet.com/gioi-thieu/" />
<meta property="og:locale" content="vi_VN" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Giới thiệu - Đồ Chơi Đại Việt" />
<meta property="og:description" content="Công ty đồ chơi đại việt chuyên cung cấp các thiết bị trò chơi trẻ em - Thiết kế nhà liên hoàn - Đồ chơi công viên - đồ cchơi cảm giác mạnh" />
<meta property="og:url" content="http://dochoidaiviet.com/gioi-thieu/" />
<meta property="og:site_name" content="Đồ Chơi Đại Việt" />
<meta property="article:publisher" content="https://www.facebook.com/dochoiquoctechina" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Công ty đồ chơi đại việt chuyên cung cấp các thiết bị trò chơi trẻ em - Thiết kế nhà liên hoàn - Đồ chơi công viên - đồ cchơi cảm giác mạnh" />
<meta name="twitter:title" content="Giới thiệu - Đồ Chơi Đại Việt" />
<script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"http://dochoidaiviet.com/#organization","name":"\u0110\u1ed3 ch\u01a1i \u0111\u1ea1i vi\u1ec7t","url":"http://dochoidaiviet.com/","sameAs":["https://www.facebook.com/dochoiquoctechina"],"logo":{"@type":"ImageObject","@id":"http://dochoidaiviet.com/#logo","url":"http://dochoidaiviet.com/wp-content/uploads/2021/05/cropped-unnamed-1.png","width":512,"height":512,"caption":"\u0110\u1ed3 ch\u01a1i \u0111\u1ea1i vi\u1ec7t"},"image":{"@id":"http://dochoidaiviet.com/#logo"}},{"@type":"WebSite","@id":"http://dochoidaiviet.com/#website","url":"http://dochoidaiviet.com/","name":"\u0110\u1ed3 Ch\u01a1i \u0110\u1ea1i Vi\u1ec7t","description":"\u0110\u1ed3 ch\u01a1i \u0110\u1ea1i Vi\u1ec7t","publisher":{"@id":"http://dochoidaiviet.com/#organization"},"potentialAction":{"@type":"SearchAction","target":"http://dochoidaiviet.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"http://dochoidaiviet.com/gioi-thieu/#webpage","url":"http://dochoidaiviet.com/gioi-thieu/","inLanguage":"vi","name":"Gi\u1edbi thi\u1ec7u - \u0110\u1ed3 Ch\u01a1i \u0110\u1ea1i Vi\u1ec7t","isPartOf":{"@id":"http://dochoidaiviet.com/#website"},"datePublished":"2018-05-03T09:20:20+00:00","dateModified":"2021-07-28T02:15:10+00:00","description":"C\u00f4ng ty \u0111\u1ed3 ch\u01a1i \u0111\u1ea1i vi\u1ec7t chuy\u00ean cung c\u1ea5p c\u00e1c thi\u1ebft b\u1ecb tr\u00f2 ch\u01a1i tr\u1ebb em - Thi\u1ebft k\u1ebf nh\u00e0 li\u00ean ho\u00e0n - \u0110\u1ed3 ch\u01a1i c\u00f4ng vi\u00ean - \u0111\u1ed3 cch\u01a1i c\u1ea3m gi\u00e1c m\u1ea1nh","breadcrumb":{"@id":"http://dochoidaiviet.com/gioi-thieu/#breadcrumb"}},{"@type":"BreadcrumbList","@id":"http://dochoidaiviet.com/gioi-thieu/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"item":{"@type":"WebPage","@id":"http://dochoidaiviet.com/","url":"http://dochoidaiviet.com/","name":"Trang ch\u1ee7"}},{"@type":"ListItem","position":2,"item":{"@type":"WebPage","@id":"http://dochoidaiviet.com/gioi-thieu/","url":"http://dochoidaiviet.com/gioi-thieu/","name":"Gi\u1edbi thi\u1ec7u"}}]}]}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Dòng thông tin Đồ Chơi Đại Việt &raquo;" href="http://dochoidaiviet.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Đồ Chơi Đại Việt &raquo;" href="http://dochoidaiviet.com/comments/feed/" />
<link rel='stylesheet' id='wp-block-library-css'  href='http://dochoidaiviet.com/wp-includes/css/dist/block-library/style.min.css?ver=5.7.2' type='text/css' media='all' />
<link rel='stylesheet' id='wc-block-style-css'  href='http://dochoidaiviet.com/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=2.4.5' type='text/css' media='all' />
<style id='woocommerce-inline-inline-css' type='text/css'>
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel='stylesheet' id='pure-woocommerce-css'  href='http://dochoidaiviet.com/wp-content/plugins/pure-woocommerce/assets/css/woocommerce.min.css?ver=1.0.7.9' type='text/css' media='all' />
<link rel='stylesheet' id='magnific-popup-css'  href='http://dochoidaiviet.com/wp-content/plugins/pure-woocommerce/assets/css/magnific-popup.css?ver=1.1.2' type='text/css' media='all' />
<link rel='stylesheet' id='Pure-css'  href='http://dochoidaiviet.com/wp-content/themes/pure/lib/css/pure.min.css?ver=1.0.10.5' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-icons-css'  href='http://dochoidaiviet.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.5.0' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-animations-css'  href='http://dochoidaiviet.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.8.2' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-frontend-css'  href='http://dochoidaiviet.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.8.2' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-pro-css'  href='http://dochoidaiviet.com/wp-content/plugins/elementor-pro/assets/css/frontend.min.css?ver=2.8.2' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-global-css'  href='http://dochoidaiviet.com/wp-content/uploads/elementor/css/global.css?ver=1626167354' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-79-css'  href='http://dochoidaiviet.com/wp-content/uploads/elementor/css/post-79.css?ver=1625798012' type='text/css' media='all' />
<script type='text/javascript' src='http://dochoidaiviet.com/wp-includes/js/jquery/jquery.min.js?ver=3.5.1' id='jquery-core-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
<link rel="https://api.w.org/" href="http://dochoidaiviet.com/wp-json/" /><link rel="alternate" type="application/json" href="http://dochoidaiviet.com/wp-json/wp/v2/pages/13" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://dochoidaiviet.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://dochoidaiviet.com/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='http://dochoidaiviet.com/?p=13' />
<link rel="alternate" type="application/json+oembed" href="http://dochoidaiviet.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdochoidaiviet.com%2Fgioi-thieu%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://dochoidaiviet.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdochoidaiviet.com%2Fgioi-thieu%2F&#038;format=xml" />
	<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170972932-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-170972932-1');
</script>
<link rel="icon" href="http://dochoidaiviet.com/wp-content/uploads/2021/05/cropped-unnamed-1-32x32.png" sizes="32x32" />
<link rel="icon" href="http://dochoidaiviet.com/wp-content/uploads/2021/05/cropped-unnamed-1-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="http://dochoidaiviet.com/wp-content/uploads/2021/05/cropped-unnamed-1-180x180.png" />
<meta name="msapplication-TileImage" content="http://dochoidaiviet.com/wp-content/uploads/2021/05/cropped-unnamed-1-270x270.png" />
<style>input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover { border-color: #9facb3;}input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus { border-color: rgba(203,44,26,0.5);}.wrap { max-width: 1190px}.elementor-section.elementor-section-boxed > .elementor-container { max-width: 1170px}@media screen and (min-width: 992px) {
	.content-sidebar-wrap > .content { width: -webkit-calc(100% - 360px); width: calc(100% - 360px); } 
	.content-sidebar-wrap > * + * { margin-left: 60px; }
	.content-sidebar-wrap .sidebar.widget-area { width: 300px }
	body.sc .sidebar, body.scs .sidebar-primary, body.ssc .sidebar-primary, body.ssc .sidebar-secondary { margin-right: 60px; }
	}@media screen and (min-width: 768px) {
	ul.products { margin-left: -15px; margin-right: -15px; }
	ul.products li { padding: 15px; }
	.loop--grid { margin-left: -15px; margin-right: -15px; }
	.loop--grid .loop__item { padding: 15px; }
	}</style><style id="kirki-inline-styles">a:focus,a:hover,.entry-content a,.site-header.desktop.v2 .site-navigation>ul>li.btn.sfHover a,.site-header.desktop.v2 .site-navigation>ul>li.btn:hover a,.site-header.desktop.v2 .site-navigation>ul>li.current-menu-item>a,.site-header.desktop.v2 .site-navigation>ul>li.sfHover>a,.term-description a,.btn.alt,.button.alt,button.alt,input[type=button].alt,input[type=reset].alt,input[type=submit].alt,.pagination .nav-links>:hover,.page-links>a:hover,.page-links>span:not(.page-links-title){color:#cb2c1a;}.color-primary-color,.color-primary-color--before:before,.color-primary-color--after:after,.color-primary-color--before--hover:hover:before,.color-primary-color--hover:hover,.color-primary-color--after--hover:hover:after,button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .btn.alt,.slick-next:hover,.slick-prev:hover,.widget.widget_course_info_widget .widget-title{color:#cb2c1a !important;}abbr:after,acronym:after,.btn,.button,button,input[type=button],input[type=reset],input[type=submit],.pagination .nav-links>.current,.site-header.desktop.v2 .site-navigation>ul>li>a:before,.comment-list .reply:hover,.slick-dots li.slick-active button:before,.widget_price_filter .ui-slider .ui-slider-handle,.widget_price_filter .ui-slider .ui-slider-range,.site-navigation.desktop .sf-menu li.danh-muc-san-pham{background-color:#cb2c1a;}.bg-primary-color,.bg-primary-color--after:after,.bg-primary-color--before:before,.bg-primary-color--after--hover:hover:after,.bg-primary-color--hover:hover,.bg-primary-color--before--hover:hover:before{background-color:#cb2c1a !important;}abbr:before,acronym:before{border-right-color:#cb2c1a;}.btn,.button,button,input[type=button],input[type=reset],input[type=submit],.btn.alt,.button.alt,button.alt,input[type=button].alt,input[type=reset].alt,input[type=submit].alt,.pagination .nav-links>.current,.comment-list .reply:hover{border-color:#cb2c1a;}.hotline svg.icon path{fill:#cb2c1a;}.entry-content a:focus,.entry-content a:hover,.term-description a:focus,.term-description a:hover{color:#313657;}.color-secondary-color,.color-secondary-color--before:before,.color-secondary-color--after:after,.color-secondary-color--before--hover:hover:before,.color-secondary-color--hover:hover,.color-secondary-color--after--hover:hover:after{color:#313657 !important;}.btn:hover,.button:hover,button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover,.btn.alt:hover, .button.alt:hover, button.alt:hover, input[type=button].alt:hover, input[type=reset].alt:hover, input[type=submit].alt:hover,.site-header.desktop.v2,.site-header.mobile.v2,.site-header.desktop.v2 .site-navigation ul ul li:hover{background-color:#313657;}.bg-secondary-color,.bg-secondary-color--after:after,.bg-secondary-color--before:before,.bg-secondary-color--hover:hover,.bg-secondary-color--after--hover:hover:after,.bg-secondary-color--before--hover:hover:before{background-color:#313657 !important;}.btn:hover,.button:hover,button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{border-color:#313657;}.btn-1 button, .btn-1 input[type="button"], .btn-1 input[type="reset"], .btn-1 input[type="submit"], .btn-1 .button, .btn-1 .btn{border-bottom-color:#313657;}body,.pagination .nav-links>*,.page-links>:not(.page-links-title){color:#656a83;}.color-text-color,.color-text-color--hover:hover{color:#656a83 !important;}.slick-dots li button:before{background-color:#656a83;}.bg-text-color,.bg-text-color--hover:hover{background-color:#656a83 !important;}a,.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{color:#313657;}.color-heading-color,.color-heading-color--hover:hover{color:#313657 !important;}.bg-heading-color,.bg-heading-color--hover:hover,.bg-heading-color,.bg-heading-color--before:before,.bg-heading-color--after:after{background-color:#313657 !important;}hr,thead th,.site-header.desktop,.comment-list .comment-body,.border-bottom{border-bottom-color:#c7d7e0;}.border-top,.site-header.v1 .lower{border-top-color:#c7d7e0;}.border-left{border-left-color:#c7d7e0;}.border-right{border-right-color:#c7d7e0;}.border,td,th,.pagination .nav-links>*,input:not([type]),input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea,input:not([type]):disabled:hover,input[type=color]:disabled:hover,input[type=date]:disabled:hover,input[type=datetime-local]:disabled:hover,input[type=datetime]:disabled:hover,input[type=email]:disabled:hover,input[type=month]:disabled:hover,input[type=number]:disabled:hover,input[type=password]:disabled:hover,input[type=search]:disabled:hover,input[type=tel]:disabled:hover,input[type=text]:disabled:hover,input[type=time]:disabled:hover,input[type=url]:disabled:hover,input[type=week]:disabled:hover,textarea:disabled:hover,.site-navigation.desktop .sf-menu ul,.site-navigation.desktop .sf-menu ul a,.comment-respond,.comment-list .reply, .caldera-grid .caldera_forms_form .form-control{border-color:#c7d7e0;}.bg-meta-color,.bg-meta-color--hover:hover{background-color:#888888 !important;}.widget_price_filter .price_slider_wrapper .ui-widget-content{background-color:#888888;}.entry-meta-before,.product_meta{color:#888888;}.color-meta-color, .color-meta-color--hover:hover,.slick-next,.slick-prev{color:#888888 !important;}body,.slideout-panel{background-color:#faf9f9;}.bg-primary-bg,.bg-primary-bg--hover:hover{background-color:#faf9f9 !important;}.pagination .nav-links>.current, button, input[type="button"], input[type="reset"], input[type="submit"], .button, .btn, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .btn:hover, .color-primary-bg,.color-primary-bg--hover:hover{color:#faf9f9 !important;}.color-secondary-bg,.color-secondary-bg--hover:hover{color:#ffffff !important;}.bg-secondary-bg,.bg-secondary-bg--hover:hover{background-color:#ffffff !important;}.comment-respond,.comment-list .reply,.tech-spec table tr:nth-child(odd){background-color:#ffffff;}button, input[type="button"], input[type="reset"], input[type="submit"],.button,.btn,.site-navigation.desktop .sf-menu > li.btn > a,.caldera-grid input[type="button"],.caldera-grid input[type="reset"],.caldera-grid input[type="submit"]{line-height:40px;}button, input[type="button"], input[type="reset"], input[type="submit"],.button,.btn{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}.desktop .site-title img, .info__logo img{max-width:100px;}.mobile .site-title img{max-width:100px;}.site-footer{background-image:url("http://dochoidaiviet.com/wp-content/uploads/2021/07/35315-8e555f386a9b3fd1d41cb59fca810048-ohaytv-1.jpg");background-repeat:repeat;background-attachment:scroll;color:#656a83;font-size:14px;-webkit-background-size:auto;-moz-background-size:auto;-ms-background-size:auto;-o-background-size:auto;background-size:auto;}.site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6, .site-footer .h1, .site-footer .h2, .site-footer .h3, .site-footer .h4, .site-footer .h5, .site-footer .h6{color:#313657;font-size:16px;}.site-footer a{color:#1a93cd;}.site-footer a:hover{color:#313657;}</style></head><body class="page-template-default page page-id-13 theme-pure woocommerce-demo-store woocommerce-no-js cs  elementor-default" itemscope itemtype="https://schema.org/WebPage">    <script>
        window.fbAsyncInit = function() {
            FB.init({
                                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v2.12'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
	<div class="site-container" id="page"><header class="site-header desktop" itemscope itemtype="https://schema.org/WPHeader"><div class="wrap nnn"><div class="inner"><div class="site-title"><a href="http://dochoidaiviet.com" title="Đồ Chơi Đại Việt"><img itemprop="logo" src="http://dochoidaiviet.com/wp-content/uploads/2021/05/cropped-unnamed-1.png" alt="Đồ Chơi Đại Việt" /></a></div><div class="pure-flex-space"></div><nav class="site-navigation desktop" itemscope itemtype="https://schema.org/SiteNavigationElement"><ul id="menu-main" class="sf-menu"><li id="menu-item-2654" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2654"><a href="http://dochoidaiviet.com/gioi-thieu/" aria-current="page">Về chúng tôi</a>
<ul class="sub-menu">
	<li id="menu-item-4186" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-4186"><a href="http://dochoidaiviet.com/gioi-thieu/" aria-current="page">Giới thiệu</a></li>
	<li id="menu-item-3004" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3004"><a href="http://dochoidaiviet.com/du-an-da-thuc-hien/">Dự án đã thực hiện</a></li>
	<li id="menu-item-1438" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1438"><a href="http://dochoidaiviet.com/ho-so-nang-luc/">Hồ Sơ Năng Lực</a></li>
	<li id="menu-item-2771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2771"><a href="http://dochoidaiviet.com/doi-ngu-nhan-su/">Đội ngũ nhân sự</a></li>
</ul>
</li>
<li id="menu-item-2764" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2764"><a href="http://dochoidaiviet.com/tin-tuc/">Giải pháp</a>
<ul class="sub-menu">
	<li id="menu-item-2765" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2765"><a href="http://dochoidaiviet.com/thiet-ke-khu-vui-choi-tre-em-trong-nha/">Thiết kế khu vui chơi trẻ em trong nhà</a></li>
	<li id="menu-item-2766" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2766"><a href="http://dochoidaiviet.com/thiet-ke-do-choi-cong-vien-nuoc/">Thiết kế đồ chơi công viên nước</a></li>
	<li id="menu-item-2767" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2767"><a href="http://dochoidaiviet.com/thiet-ke-khu-vui-choi-ngoai-choi/">Thiết kế khu vui chơi ngoài trời</a></li>
	<li id="menu-item-2768" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2768"><a href="http://dochoidaiviet.com/thiet-ke-do-choi-cam-giac-manh/">Thiết kế đồ chơi cảm giác mạnh</a></li>
	<li id="menu-item-2769" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2769"><a href="http://dochoidaiviet.com/thiet-ke-do-choi-cong-vien/">Thiết kế đồ chơi công viên</a></li>
</ul>
</li>
<li id="menu-item-1397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1397"><a href="http://dochoidaiviet.com/danh-muc/">Sản Phẩm</a>
<ul class="sub-menu">
	<li id="menu-item-2773" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2773"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/">Nhà Liên Hoàn</a></li>
	<li id="menu-item-2774" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2774"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/mang-truot-cong-vien-nuoc/">Máng trượt công viên nước</a></li>
	<li id="menu-item-2775" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2775"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/nha-hoi-lien-hoan-duoi-nuoc/">Nhà hơi liên hoàn dưới nước</a></li>
	<li id="menu-item-2776" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2776"><a href="http://dochoidaiviet.com/san-xuat/du-quay-nu-hoang-mam-xoay-nu-hoang/">Đu quay nữ hoàng &#8211; Mâm xoay nữ hoàng</a></li>
	<li id="menu-item-2777" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2777"><a href="http://dochoidaiviet.com/san-xuat/to-hop-khu-vui-choi-tre-em/">Tổ hợp khu vui chơi trẻ em</a></li>
	<li id="menu-item-4081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4081"><a href="http://dochoidaiviet.com/danh-muc/">Xem tất cả</a></li>
</ul>
</li>
<li id="menu-item-4119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4119"><a href="http://dochoidaiviet.com/tin-tuc/">Tin tức</a></li>
<li id="menu-item-4178" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4178"><a href="http://dochoidaiviet.com/blog/">Blog</a></li>
<li id="menu-item-2772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2772"><a href="http://dochoidaiviet.com/tuyen-dung/">Tuyển dụng</a></li>
<li id="menu-item-1873" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1873"><a href="http://dochoidaiviet.com/lien-he/">Liên hệ</a></li>
</ul></nav></div><!-- .inner --></div><!-- .wrap --></header><div class="site-header mobile"><div class="wrap"><div class="inner"><div class="site-title"><a href="http://dochoidaiviet.com" title="Đồ Chơi Đại Việt"><img itemprop="logo" src="http://dochoidaiviet.com/wp-content/uploads/2021/05/unnamed-1.png" alt="Đồ Chơi Đại Việt" /></a></div><div class="pure-flex-space"></div><span class="search-toggler"><i class="pure fa-search"></i></span><div class="bg-primary-bg search-holder"><form role="search" method="get" class="woocommerce-product-search" action="http://dochoidaiviet.com/">
	<label class="screen-reader-text" for="woocommerce-product-search-field-0">Tìm kiếm:</label>
	<input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Tìm sản phẩm&hellip;" value="" name="s" />
	<button type="submit" value="Tìm kiếm">Tìm kiếm</button>
	<input type="hidden" name="post_type" value="product" />
</form>
</div><button class="menu-toggler" id="menu-toggler"><i class="pure fa-bars"></i></button></div></div></div><div class="breadcrumbs "><div class="wrap"><div class="inner"><span><span><a href="http://dochoidaiviet.com/" >Trang chủ</a> <i class="far fa-chevron-right"></i> <span class="breadcrumb_last" aria-current="page">Giới thiệu</span></span></span></div></div></div><div class="site-inner"><div class="wrap"><div class="content-sidebar-wrap"><main class="content" id="pure-content"><article class="entry post-13 page type-page status-publish hentry single-content" itemscope itemtype="https://schema.org/CreativeWork"><header class="entry-header"><h1 class="entry-title" itemprop="headline">Giới thiệu</h1>
</header><div class="entry-content" itemprop="text">
<p>Hoạt động từ năm 2006 từ một cơ sở sản xuất. Trong một thời gian dài tim hiểu thị trường, thiết kế ra nhiều mẫu mã, fim những ưu điểm nhược điểm của các sản phẩm đồ chơi trẻ em, trang thiết bị giáo dục.</p>
<p>Đến nay ĐỒ CHƠI ĐẠI VIỆT được thành lập, với những nỗ lực phấn đấu và phát triển không ngừng, ĐỒ CHƠI ĐẠI VIỆT tự hào là một trong những đơn vị hàng đầu về sản xuất và cung cấp đồ chơi trẻ em, thiết bị trường học tại Việt Nam. Với đội ngũ cán bộ, nhân viên chuyên nghiệp và công nhân tay nghề cao có bề dày nhiều năm kinh nghiệm, chúng tôi đã thực hiện nhiều dự án cung cấp mới thiết bị cơ sở vật chất đồng bộ, cũng như bổ sung hoàn thiện các hệ thống đồ dùng phục vụ việc dạy và học cho các cấp học tại nhiều tinh thành trong cả nước (đặc biệt đối với các đơn vị trường học đã và đang đạt chuẩn Quốc Gia).</p>
<p>Các sản phẩm chính được sản xuất tại công ty:</p>
<p>* Khu vui chơi tổng hợp trong nhà cho các trung tâm thương mại, cung thiếu nhi</p>
<p>* Sản xuất đồ chơi cho các khu vui chơi giải trí, đặc biệt đồ chơi công viên nước và cảm giác mạnh.</p>
<p>* Thiết bị đồ dùng, đỏ chơi trong lớp và ngoài trời cho các trường Måm Non.</p>
<p>* Đồ chơi động cơ điện, khu vui chơi liên hoàn dành cho các khu vui chơi giải trí.</p>
<p>* Trang thiết bị nội thất văn phòng trường hỌC, bàn ghế học sinh các cấp học.</p>
<p>* Hệ thống thiết bị đồng bộ nhà bếp, bếp ăn công nghiệp tại các trường bán trú.</p>
<p>Không chỉ cung cấp hàng hóa, để Quý khách hoàn toàn yên tâm và có được kết quả đầu tư cao nhất, chúng tôi còn mang đến các dịch vụ miễn phí từ việc khảo sát &#8211; tư vấn &#8211; thiết kế ban đầu và hỗ trợ Quý khách trong suốt quá trình sử dụng thiết bị (kể cả các sản phẩm không do công ty cung cấp). ĐỒ CHƠI ĐẠI VIỆT luôn là sự lưa chọn tin cây của Quý khách, chúng tôi cam kết sẽ giúp cho những kế hoạch &#8211; dự án của Quý khách được thực hiện thành công với những hiệu quả tối ưu nhất.</p>


</div><footer class="entry-footer"></footer></article></main><aside class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Sidebar chính" itemscope itemtype="https://schema.org/WPSideBar"><section id="woocommerce_product_categories-3" class="widget woocommerce widget_product_categories"><div class="widget-inner"><h3 class="widget-title"><span>Danh mục sản phẩm</span></h3>
<ul class="product-categories"><li class="cat-item cat-item-105"><a href="http://dochoidaiviet.com/san-xuat/nha-van-dong/bo-van-dong-sasuke/">Bộ vận động Sasuke</a></li>
<li class="cat-item cat-item-29"><a href="http://dochoidaiviet.com/san-xuat/do-choi-van-dong-cam-giac-manh/">Đồ chơi cảm giác mạnh</a></li>
<li class="cat-item cat-item-32"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/">Đồ chơi công viên</a></li>
<li class="cat-item cat-item-42"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/">Đồ chơi công viên nước</a></li>
<li class="cat-item cat-item-41"><a href="http://dochoidaiviet.com/san-xuat/du-quay-nu-hoang-mam-xoay-nu-hoang/">Đu quay nữ hoàng - Mâm xoay nữ hoàng</a></li>
<li class="cat-item cat-item-99"><a href="http://dochoidaiviet.com/san-xuat/may-game/game-ban-sung/">Game bắn súng</a></li>
<li class="cat-item cat-item-100"><a href="http://dochoidaiviet.com/san-xuat/may-game/game-dap-chuot/">Game đập chuột</a></li>
<li class="cat-item cat-item-101"><a href="http://dochoidaiviet.com/san-xuat/may-game/game-dua-xe/">Game đua xe</a></li>
<li class="cat-item cat-item-73"><a href="http://dochoidaiviet.com/san-xuat/ho-cau-ca/">Hồ câu cá</a></li>
<li class="cat-item cat-item-74"><a href="http://dochoidaiviet.com/san-xuat/ho-cau-ca/ho-cau-ca-nhap-khau/">Hồ câu cá nhập khẩu</a></li>
<li class="cat-item cat-item-75"><a href="http://dochoidaiviet.com/san-xuat/ho-cau-ca/ho-cau-ca-viet-nam/">Hồ câu cá việt nam</a></li>
<li class="cat-item cat-item-89"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/khung-long-chuyen-dong/">Khủng long chuyển động</a></li>
<li class="cat-item cat-item-122"><a href="http://dochoidaiviet.com/san-xuat/leu-cach-ly/">Lều cách ly</a></li>
<li class="cat-item cat-item-72"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/lien-hoan-cau-truot/">Liên hoàn cầu trượt</a></li>
<li class="cat-item cat-item-79"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/mang-truot-cong-vien-nuoc/">Máng trượt công viên nước</a></li>
<li class="cat-item cat-item-68"><a href="http://dochoidaiviet.com/san-xuat/may-game/">Máy game</a></li>
<li class="cat-item cat-item-96"><a href="http://dochoidaiviet.com/san-xuat/may-game/may-gap-gau/">Máy gắp gấu</a></li>
<li class="cat-item cat-item-78"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/nha-hoi-lien-hoan-duoi-nuoc/">Nhà hơi liên hoàn dưới nước</a></li>
<li class="cat-item cat-item-15"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/">Nhà Liên Hoàn</a></li>
<li class="cat-item cat-item-86"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-100m2-200m2/">Nhà liên hoàn 100m2-200m2</a></li>
<li class="cat-item cat-item-87"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-200m2-500m2/">Nhà liên hoàn 200m2-500m2</a></li>
<li class="cat-item cat-item-84"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-50m2/">Nhà liên hoàn 50m2</a></li>
<li class="cat-item cat-item-85"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-50m2-100m2/">Nhà liên hoàn 50m2-100m2</a></li>
<li class="cat-item cat-item-76"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan-mini/">Nhà liên hoàn mini</a></li>
<li class="cat-item cat-item-88"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-tren-500m2/">Nhà liên hoàn trên 500m2</a></li>
<li class="cat-item cat-item-103"><a href="http://dochoidaiviet.com/san-xuat/nha-van-dong/nha-nhun-lo-xo/">Nhà nhún lò xo</a></li>
<li class="cat-item cat-item-92"><a href="http://dochoidaiviet.com/san-xuat/nha-van-dong/nha-nhun-ngoai-troi/">Nhà nhún ngoài trời</a></li>
<li class="cat-item cat-item-70"><a href="http://dochoidaiviet.com/san-xuat/nha-phao-nha-hoi/">Nhà Phao - Nhà Hơi</a></li>
<li class="cat-item cat-item-69"><a href="http://dochoidaiviet.com/san-xuat/nha-van-dong/">Nhà vận động</a></li>
<li class="cat-item cat-item-80"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/phao-hoi-team-building/">Phao hơi team building</a></li>
<li class="cat-item cat-item-90"><a href="http://dochoidaiviet.com/san-xuat/phu-kien-nha-lien-hoan/">Phụ kiện nhà liên hoàn</a></li>
<li class="cat-item cat-item-77"><a href="http://dochoidaiviet.com/san-xuat/thiet-bi-mam-non/">Thiết bị mầm non</a></li>
<li class="cat-item cat-item-81"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/thiet-bi-the-duc-cong-vien/">Thiết bị thể dục công viên</a></li>
<li class="cat-item cat-item-102"><a href="http://dochoidaiviet.com/san-xuat/may-game/thu-nhun-dien/">Thú nhún điện</a></li>
<li class="cat-item cat-item-82"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/thu-nhun-lo-xo/">Thú nhún lò xo</a></li>
<li class="cat-item cat-item-91"><a href="http://dochoidaiviet.com/san-xuat/to-hop-khu-vui-choi-tre-em/">Tổ hợp khu vui chơi trẻ em</a></li>
<li class="cat-item cat-item-104"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/trang-tri-be-boi/">Trang trí bể bơi</a></li>
<li class="cat-item cat-item-31"><a href="http://dochoidaiviet.com/san-xuat/xe-dien-dung/">Xe điện đụng</a></li>
<li class="cat-item cat-item-95"><a href="http://dochoidaiviet.com/san-xuat/xe-dien-dung/xe-dien-dung-nhap-khau/">Xe điện đụng nhập khẩu</a></li>
<li class="cat-item cat-item-94"><a href="http://dochoidaiviet.com/san-xuat/xe-dien-dung/xe-dien-dung-viet-nam/">Xe điện đụng Việt nam</a></li>
<li class="cat-item cat-item-28"><a href="http://dochoidaiviet.com/san-xuat/xe-lua-dien-tau-lua-dien/">Xe lửa điện - Tàu lửa điện</a></li>
<li class="cat-item cat-item-71"><a href="http://dochoidaiviet.com/san-xuat/xe-thu-dien/">Xe thú chạy</a></li>
</ul></div></section>
<section id="categories-2" class="widget widget_categories"><div class="widget-inner"><h3 class="widget-title"><span>Chuyên mục</span></h3>

			<ul>
					<li class="cat-item cat-item-119"><a href="http://dochoidaiviet.com/du-an-da-thuc-hien/">Dự án đã thực hiện</a> (2)
</li>
	<li class="cat-item cat-item-25"><a href="http://dochoidaiviet.com/thiet-ke-khu-vui-choi-tre-em-trong-nha/">Thiết kế khu vui chơi trẻ em trong nhà</a> (4)
</li>
			</ul>

			</div></section>
<section id="woocommerce_products-2" class="widget woocommerce widget_products"><div class="widget-inner"><h3 class="widget-title"><span>đồ chơi công viên nước</span></h3>
<ul class="product_list_widget"><li>
	
	<a href="http://dochoidaiviet.com/san-pham/thiet-ke-nha-homestay/">
		<img width="400" height="400" src="http://dochoidaiviet.com/wp-content/uploads/2021/08/z2678710626250-0f9bda734e410674950c135d08c71cb7-400x400.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="http://dochoidaiviet.com/wp-content/uploads/2021/08/z2678710626250-0f9bda734e410674950c135d08c71cb7-400x400.jpg 400w, http://dochoidaiviet.com/wp-content/uploads/2021/08/z2678710626250-0f9bda734e410674950c135d08c71cb7-600x600.jpg 600w, http://dochoidaiviet.com/wp-content/uploads/2021/08/z2678710626250-0f9bda734e410674950c135d08c71cb7-45x45.jpg 45w, http://dochoidaiviet.com/wp-content/uploads/2021/08/z2678710626250-0f9bda734e410674950c135d08c71cb7-100x100.jpg 100w" sizes="(max-width: 400px) 100vw, 400px" />		<span class="product-title">Thiết kế nhà Homestay</span>
	</a>

			<div class="star-rating"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span style="width:0%"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span class="txt" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><meta itemprop="worstRating" content = "1">Rated <strong class="rating" itemprop="ratingValue">0</strong> out of <span itemprop="bestRating">5</span></span></span></div>	
	<span class="color-secondary-color">Liên hệ</span>
	</li>
<li>
	
	<a href="http://dochoidaiviet.com/san-pham/leu-cach-ly-1-lop/">
		<img width="400" height="400" src="http://dochoidaiviet.com/wp-content/uploads/2021/07/z2629314126204-4f70a50f077b202fb83011847486e601-400x400.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="http://dochoidaiviet.com/wp-content/uploads/2021/07/z2629314126204-4f70a50f077b202fb83011847486e601-400x400.png 400w, http://dochoidaiviet.com/wp-content/uploads/2021/07/z2629314126204-4f70a50f077b202fb83011847486e601-600x600.png 600w, http://dochoidaiviet.com/wp-content/uploads/2021/07/z2629314126204-4f70a50f077b202fb83011847486e601-45x45.png 45w, http://dochoidaiviet.com/wp-content/uploads/2021/07/z2629314126204-4f70a50f077b202fb83011847486e601-100x100.png 100w" sizes="(max-width: 400px) 100vw, 400px" />		<span class="product-title">Lều cách ly 1 lớp</span>
	</a>

			<div class="star-rating"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span style="width:0%"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span class="txt" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><meta itemprop="worstRating" content = "1">Rated <strong class="rating" itemprop="ratingValue">0</strong> out of <span itemprop="bestRating">5</span></span></span></div>	
	<del><span class="woocommerce-Price-amount amount">300.000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></del><ins><span class="woocommerce-Price-amount amount color-secondary-color"><span itemprop="price" content="250000">250.000</span>&nbsp;<span class="woocommerce-Price-currencySymbol" itemprop="priceCurrency" content="VND">&#8363;</span></span></ins>
	</li>
<li>
	
	<a href="http://dochoidaiviet.com/san-pham/leu-cach-ly/">
		<img width="400" height="400" src="http://dochoidaiviet.com/wp-content/uploads/2021/07/leu-cach-ly-400x400.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="http://dochoidaiviet.com/wp-content/uploads/2021/07/leu-cach-ly-400x400.jpg 400w, http://dochoidaiviet.com/wp-content/uploads/2021/07/leu-cach-ly-45x45.jpg 45w, http://dochoidaiviet.com/wp-content/uploads/2021/07/leu-cach-ly-100x100.jpg 100w" sizes="(max-width: 400px) 100vw, 400px" />		<span class="product-title">Lều cách ly,lều cắm trại</span>
	</a>

			<div class="star-rating"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span style="width:0%"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span class="txt" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><meta itemprop="worstRating" content = "1">Rated <strong class="rating" itemprop="ratingValue">0</strong> out of <span itemprop="bestRating">5</span></span></span></div>	
	<del><span class="woocommerce-Price-amount amount">350.000&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></del><ins><span class="woocommerce-Price-amount amount color-secondary-color"><span itemprop="price" content="305000">305.000</span>&nbsp;<span class="woocommerce-Price-currencySymbol" itemprop="priceCurrency" content="VND">&#8363;</span></span></ins>
	</li>
<li>
	
	<a href="http://dochoidaiviet.com/san-pham/giuong-xep-chuyen-dung/">
		<img width="400" height="400" src="http://dochoidaiviet.com/wp-content/uploads/2021/07/z2626164543718-c71ae27d9c275fd379926b473d8e69d7-400x400.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="http://dochoidaiviet.com/wp-content/uploads/2021/07/z2626164543718-c71ae27d9c275fd379926b473d8e69d7-400x400.jpg 400w, http://dochoidaiviet.com/wp-content/uploads/2021/07/z2626164543718-c71ae27d9c275fd379926b473d8e69d7-600x600.jpg 600w, http://dochoidaiviet.com/wp-content/uploads/2021/07/z2626164543718-c71ae27d9c275fd379926b473d8e69d7-45x45.jpg 45w, http://dochoidaiviet.com/wp-content/uploads/2021/07/z2626164543718-c71ae27d9c275fd379926b473d8e69d7-100x100.jpg 100w" sizes="(max-width: 400px) 100vw, 400px" />		<span class="product-title">Giường xếp chuyên dụng</span>
	</a>

			<div class="star-rating"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span style="width:0%"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span class="txt" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><meta itemprop="worstRating" content = "1">Rated <strong class="rating" itemprop="ratingValue">0</strong> out of <span itemprop="bestRating">5</span></span></span></div>	
	<span class="color-secondary-color">Liên hệ</span>
	</li>
<li>
	
	<a href="http://dochoidaiviet.com/san-pham/bap-benh-don-2/">
		<img width="400" height="400" src="http://dochoidaiviet.com/wp-content/uploads/2021/07/htb1zlzkgymnbknjszfzq6a-qvxal-400x400.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="http://dochoidaiviet.com/wp-content/uploads/2021/07/htb1zlzkgymnbknjszfzq6a-qvxal-400x400.jpg 400w, http://dochoidaiviet.com/wp-content/uploads/2021/07/htb1zlzkgymnbknjszfzq6a-qvxal-100x100.jpg 100w, http://dochoidaiviet.com/wp-content/uploads/2021/07/htb1zlzkgymnbknjszfzq6a-qvxal-300x300.jpg 300w, http://dochoidaiviet.com/wp-content/uploads/2021/07/htb1zlzkgymnbknjszfzq6a-qvxal-600x600.jpg 600w, http://dochoidaiviet.com/wp-content/uploads/2021/07/htb1zlzkgymnbknjszfzq6a-qvxal-45x45.jpg 45w, http://dochoidaiviet.com/wp-content/uploads/2021/07/htb1zlzkgymnbknjszfzq6a-qvxal.jpg 750w" sizes="(max-width: 400px) 100vw, 400px" />		<span class="product-title">Bấp bênh đơn</span>
	</a>

			<div class="star-rating"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span style="width:0%"><span class="stars"><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i><i class="pure fa-star"></i></span><span class="txt" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><meta itemprop="worstRating" content = "1">Rated <strong class="rating" itemprop="ratingValue">0</strong> out of <span itemprop="bestRating">5</span></span></span></div>	
	<span class="color-secondary-color">Liên hệ</span>
	</li>
</ul></div></section>
<section id="woocommerce_product_search-4" class="widget woocommerce widget_product_search"><div class="widget-inner"><form role="search" method="get" class="woocommerce-product-search" action="http://dochoidaiviet.com/">
	<label class="screen-reader-text" for="woocommerce-product-search-field-1">Tìm kiếm:</label>
	<input type="search" id="woocommerce-product-search-field-1" class="search-field" placeholder="Tìm sản phẩm&hellip;" value="" name="s" />
	<button type="submit" value="Tìm kiếm">Tìm kiếm</button>
	<input type="hidden" name="post_type" value="product" />
</form>
</div></section>
</aside></div></div></div><div class="sidebar-bottom"><div class="wrap"><section id="search-3" class="widget widget_search"><div class="widget-inner">

<form role="search" method="get" class="search-form" action="http://dochoidaiviet.com/">
	<input type="search" id="search-form-611f700263313" class="search-field" placeholder="Tìm kiếm &hellip;" value="" name="s" />
	<button type="submit" class="search-submit"><i class="pure fa-search"></i></button>
</form>
</div></section>
</div></div><footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">		<div data-elementor-type="section" data-elementor-id="79" class="elementor elementor-79 elementor-location-pure-footer" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-48a8279 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="48a8279" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5600568 elementor-column elementor-col-100 elementor-top-column" data-id="5600568" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-5a1c0d7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="5a1c0d7" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-b477688 elementor-column elementor-col-25 elementor-inner-column" data-id="b477688" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-3b10748 elementor-widget elementor-widget-heading" data-id="3b10748" data-element_type="widget" id="title-footer" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hệ thống showroom</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-34e4445 elementor-widget elementor-widget-text-editor" data-id="34e4445" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><ul class="local_footer"><li> </li><li><span style="font-size: 14pt; color: #ff0000;"><strong>&gt;</strong></span> <span style="color: #ff0000;">Cở sở 1: KCN Quế võ 2 mở rộng, Phù Lãng &#8211; Quế Võ &#8211; Bắc Ninh</span></li><li> </li><li><span style="font-size: 14pt; color: #ff0000;"><strong>&gt; </strong></span><span style="color: #ff0000;">Cơ sở 2: Nguyễn Văn Khạ &#8211; Củ Chi &#8211; TP.HCM</span></li></ul></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-688070f elementor-column elementor-col-25 elementor-inner-column" data-id="688070f" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-66176e7 elementor-widget elementor-widget-heading" data-id="66176e7" data-element_type="widget" id="title-footer" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hỗ trợ khách hàng</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-1265e4c elementor-widget elementor-widget-text-editor" data-id="1265e4c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><ul class="menu_footer"><li><span style="color: #ff0000;"><i class="fa fa-chevron-right"></i> <a style="color: #ff0000;" href="http://dochoidaiviet.com/gioi-thieu/">Giới thiệu về Đồ chơi đại việt</a></span></li><li><span style="color: #ff0000;"><strong>&gt; </strong>Câu hỏi thường gặp</span></li><li><span style="color: #ff0000;"><a style="color: #ff0000;" href="#"><i class="fa fa-chevron-right"></i> Bảo mật thông tin</a></span></li><li><span style="color: #ff0000;"><a style="color: #ff0000;" href="#"><i class="fa fa-chevron-right"></i> Chính sách bảo hành</a></span></li><li><span style="color: #ff0000;"><a style="color: #ff0000;" href="#"><i class="fa fa-chevron-right"></i> Mua hàng và thanh toán</a></span></li><li><span style="color: #ff0000;"><a style="color: #ff0000;" href="#"><i class="fa fa-chevron-right"></i> Chương trình khuyến mại</a></span></li><li><span style="color: #ff0000;"><a style="color: #ff0000;" href="http://dochoidaiviet.com/lien-he/"><i class="fa fa-chevron-right"></i> Liên hệ</a></span></li></ul></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-6f993e5 elementor-column elementor-col-25 elementor-inner-column" data-id="6f993e5" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-389b350 elementor-widget elementor-widget-heading" data-id="389b350" data-element_type="widget" id="title-footer" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Thanh toán bằng thẻ</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-88216ad gallery-spacing-custom elementor-widget elementor-widget-image-gallery" data-id="88216ad" data-element_type="widget" id="bank_footer" data-widget_type="image-gallery.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-gallery">
			<div id='gallery-1' class='gallery galleryid-13 gallery-columns-3 gallery-size-thumbnail'><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/2.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/3.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/4.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/5.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/6.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/7.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/8.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/9.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/10.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/11.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/12.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/13.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/14.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/15.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure><figure class='gallery-item'>
			<div class='gallery-icon landscape'>
				<img width="80" height="40" src="http://dochoidaiviet.com/wp-content/uploads/2018/06/1.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />
			</div></figure>
		</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-13ad249 elementor-column elementor-col-25 elementor-inner-column" data-id="13ad249" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-cf97f40 elementor-widget elementor-widget-heading" data-id="cf97f40" data-element_type="widget" id="title-footer" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Đăng ký nhận khuyến mãi</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-f2a8b29 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="f2a8b29" data-element_type="widget" data-widget_type="form.default">
				<div class="elementor-widget-container">
					<form class="elementor-form" method="post" name="New Form">
			<input type="hidden" name="post_id" value="79"/>
			<input type="hidden" name="form_id" value="f2a8b29"/>

			<div class="elementor-form-fields-wrapper elementor-labels-above">
								<div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
					<input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Email" required="required" aria-required="true">				</div>
								<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100">
					<button type="submit" class="elementor-button elementor-size-sm">
						<span >
															<span class=" elementor-button-icon">
																										</span>
																						<span class="elementor-button-text">Đăng ký</span>
													</span>
					</button>
				</div>
			</div>
		</form>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<div class="elementor-element elementor-element-eb1c684 elementor-widget elementor-widget-shortcode" data-id="eb1c684" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode">[short_keyword]</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-76264ea elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="76264ea" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2d4f062 elementor-column elementor-col-100 elementor-top-column" data-id="2d4f062" data-element_type="column">
			<div class="elementor-column-wrap">
					<div class="elementor-widget-wrap">
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-fee0794 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="fee0794" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-75c45d4 elementor-column elementor-col-100 elementor-top-column" data-id="75c45d4" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-54df5fb elementor-widget elementor-widget-google_maps" data-id="54df5fb" data-element_type="widget" data-widget_type="google_maps.default">
				<div class="elementor-widget-container">
			<div class="elementor-custom-embed"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=%C4%90%E1%BB%93%20ch%C6%A1i%20%C4%91%E1%BA%A1i%20vi%E1%BB%87t&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" aria-label="Đồ chơi đại việt"></iframe></div>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
		    <span class="back-to-top bg-primary-color"><i class="pure fa-arrow-up color-primary-bg"></i></span>
	<div class="copyright"><div class="wrap"><div class="copyright-content">Bản quyền &copy; <span itemprop="copyrightYear">2021</span> <span itemprop="copyrightHolder" itemscope itemtype="https://schema.org/Person"><a href="http://dochoidaiviet.com" title="Đồ Chơi Đại Việt" itemprop="name">Đồ Chơi Đại Việt</a></span>. Thiết kế bởi <a href="http://thietkeweb.vietmoz.com" title=“Thiết kế web bởi VietMoz">VietMoz</a>.</div></div></div></footer><a href="tel:0935 860 888" class="call-button bg-primary-color bg-secondary-color--hover color-primary-bg color-primary-bg--hover"><i class="pure fa-phone"></i></a></div><nav class="site-navigation mobile" id="slideout"><div class="inner"><ul id="menu-mobile" class="menu"><li id="menu-item-968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-968"><a href="http://dochoidaiviet.com/">Trang chủ</a></li>
<li id="menu-item-969" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-969"><a href="http://dochoidaiviet.com/gioi-thieu/" aria-current="page">Giới thiệu</a></li>
<li id="menu-item-4180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4180"><a href="http://dochoidaiviet.com/tin-tuc/">Tin tức</a><span class="dropdown-toggler"></span>
<ul class="sub-menu">
	<li id="menu-item-971" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-971"><a href="http://dochoidaiviet.com/lien-he/">Liên hệ</a></li>
	<li id="menu-item-4181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4181"><a href="http://dochoidaiviet.com/ho-so-nang-luc/">Hồ Sơ Năng Lực</a></li>
	<li id="menu-item-4182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4182"><a href="http://dochoidaiviet.com/doi-ngu-nhan-su/">Đội ngũ nhân sự</a></li>
</ul>
</li>
<li id="menu-item-970" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-970"><a href="http://dochoidaiviet.com/danh-muc/">Sản Phẩm</a><span class="dropdown-toggler"></span>
<ul class="sub-menu">
	<li id="menu-item-1778" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1778"><a href="http://dochoidaiviet.com/san-xuat/to-hop-khu-vui-choi-tre-em/">Tổ hợp khu vui chơi trẻ em</a></li>
	<li id="menu-item-1371" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1371"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/">Nhà Liên Hoàn</a><span class="dropdown-toggler"></span>
	<ul class="sub-menu">
		<li id="menu-item-1785" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1785"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-50m2/">Nhà liên hoàn 50m2</a></li>
		<li id="menu-item-1784" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1784"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-50m2-100m2/">Nhà liên hoàn 50m2-100m2</a></li>
		<li id="menu-item-1783" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1783"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-100m2-200m2/">Nhà liên hoàn 100m2-200m2</a></li>
		<li id="menu-item-1782" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1782"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-200m2-500m2/">Nhà liên hoàn 200m2-500m2</a></li>
		<li id="menu-item-1781" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1781"><a href="http://dochoidaiviet.com/san-xuat/nha-lien-hoan/nha-lien-hoan-tren-500m2/">Nhà liên hoàn trên 500m2</a></li>
		<li id="menu-item-1779" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1779"><a href="http://dochoidaiviet.com/san-xuat/phu-kien-nha-lien-hoan/">Phụ kiện nhà liên hoàn</a></li>
	</ul>
</li>
	<li id="menu-item-1549" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1549"><a href="http://dochoidaiviet.com/san-xuat/nha-van-dong/">Nhà vận động</a><span class="dropdown-toggler"></span>
	<ul class="sub-menu">
		<li id="menu-item-2579" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2579"><a href="http://dochoidaiviet.com/san-xuat/nha-van-dong/nha-nhun-ngoai-troi/">Nhà nhún ngoài trời</a></li>
		<li id="menu-item-2580" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2580"><a href="http://dochoidaiviet.com/san-xuat/nha-van-dong/bo-van-dong-sasuke/">Bộ vận động Sasuke</a></li>
		<li id="menu-item-2581" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2581"><a href="http://dochoidaiviet.com/san-xuat/nha-van-dong/nha-nhun-lo-xo/">Nhà nhún lò xo</a></li>
	</ul>
</li>
	<li id="menu-item-1375" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1375"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/">Đồ chơi công viên</a><span class="dropdown-toggler"></span>
	<ul class="sub-menu">
		<li id="menu-item-1548" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1548"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/thiet-bi-the-duc-cong-vien/">Thiết bị thể dục công viên</a></li>
		<li id="menu-item-1550" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1550"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/lien-hoan-cau-truot/">Liên hoàn cầu trượt</a></li>
		<li id="menu-item-1780" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1780"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/khung-long-chuyen-dong/">Khủng long chuyển động</a></li>
		<li id="menu-item-1786" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1786"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien/thu-nhun-lo-xo/">Thú nhún lò xo</a></li>
	</ul>
</li>
	<li id="menu-item-1377" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1377"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/">Đồ chơi công viên nước</a><span class="dropdown-toggler"></span>
	<ul class="sub-menu">
		<li id="menu-item-1554" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1554"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/nha-hoi-lien-hoan-duoi-nuoc/">Nhà hơi liên hoàn dưới nước</a></li>
		<li id="menu-item-1555" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1555"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/mang-truot-cong-vien-nuoc/">Máng trượt công viên nước</a></li>
		<li id="menu-item-2564" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2564"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/trang-tri-be-boi/">Trang trí bể bơi</a></li>
		<li id="menu-item-1556" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1556"><a href="http://dochoidaiviet.com/san-xuat/do-choi-cong-vien-nuoc/phao-hoi-team-building/">Phao hơi team building</a></li>
	</ul>
</li>
	<li id="menu-item-1372" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1372"><a href="http://dochoidaiviet.com/san-xuat/do-choi-van-dong-cam-giac-manh/">Đồ chơi cảm giác mạnh</a></li>
	<li id="menu-item-1378" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1378"><a href="http://dochoidaiviet.com/san-xuat/may-game/">Máy game</a><span class="dropdown-toggler"></span>
	<ul class="sub-menu">
		<li id="menu-item-2565" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2565"><a href="http://dochoidaiviet.com/san-xuat/may-game/game-dap-chuot/">Game đập chuột</a></li>
		<li id="menu-item-2566" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2566"><a href="http://dochoidaiviet.com/san-xuat/may-game/game-ban-sung/">Game bắn súng</a></li>
		<li id="menu-item-2567" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2567"><a href="http://dochoidaiviet.com/san-xuat/may-game/game-dua-xe/">Game đua xe</a></li>
		<li id="menu-item-2569" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2569"><a href="http://dochoidaiviet.com/san-xuat/may-game/may-gap-gau/">Máy gắp gấu</a></li>
	</ul>
</li>
	<li id="menu-item-1557" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1557"><a href="http://dochoidaiviet.com/san-xuat/ho-cau-ca/">Hồ câu cá</a><span class="dropdown-toggler"></span>
	<ul class="sub-menu">
		<li id="menu-item-1559" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1559"><a href="http://dochoidaiviet.com/san-xuat/ho-cau-ca/ho-cau-ca-nhap-khau/">Hồ câu cá nhập khẩu</a></li>
		<li id="menu-item-1558" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1558"><a href="http://dochoidaiviet.com/san-xuat/ho-cau-ca/ho-cau-ca-viet-nam/">Hồ câu cá việt nam</a></li>
	</ul>
</li>
	<li id="menu-item-1560" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1560"><a href="http://dochoidaiviet.com/san-xuat/nha-phao-nha-hoi/">Nhà Phao &#8211; Nhà Hơi</a></li>
	<li id="menu-item-1376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1376"><a href="http://dochoidaiviet.com/san-xuat/du-quay-nu-hoang-mam-xoay-nu-hoang/">Đu quay nữ hoàng &#8211; Mâm xoay nữ hoàng</a></li>
	<li id="menu-item-1552" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1552"><a href="http://dochoidaiviet.com/san-xuat/thiet-bi-mam-non/">Thiết bị mầm non</a></li>
	<li id="menu-item-1373" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1373"><a href="http://dochoidaiviet.com/san-xuat/xe-lua-dien-tau-lua-dien/">Tàu lửa điện</a></li>
	<li id="menu-item-1374" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1374"><a href="http://dochoidaiviet.com/san-xuat/xe-dien-dung/">Xe điện đụng</a></li>
	<li id="menu-item-2578" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2578"><a href="http://dochoidaiviet.com/san-xuat/xe-thu-dien/">Xe thú chạy</a></li>
</ul>
</li>
<li id="menu-item-4183" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-4183"><a href="http://dochoidaiviet.com/gioi-thieu/" aria-current="page">Giới thiệu</a></li>
</ul><button class="menu-toggler"><i class="pure fa-arrow-left mgr10"></i>Đóng menu</button></div></nav><p class="woocommerce-store-notice demo_store" data-notice-id="ed2b63d10f99933803235b7551600897" style="display:none;">Đây là cửa hàng demo nhằm mục đích thử nghiệm nên các đơn hàng sẽ không có hiệu lực. <a href="#" class="woocommerce-store-notice__dismiss-link">Bỏ qua</a></p>    <div
            class="pure-woocommerce-mini-cart right">
        <div class="mini-cart-header">
            <div class="js-close-mini-cart mini-cart-close color-bg-primary">
                <i class="ion-ios-close-empty"></i>
            </div>
            <h3 class="mini-cart-title color-bg-primary bg-color-heading">
				Giỏ hàng mini            </h3>
        </div>
        <div class="pure-woocommerce-cart-wrapper bg-primary">
			

<ul
	class="cart_list product_list_widget border--bottom ">

	
		<li class="empty">
			<span>
			Chưa có sản phẩm trong giỏ hàng.			</span>
			    <a class="js-close-mini-cart continue-shopping"
       href="http://dochoidaiviet.com/danh-muc/">Tiếp tục mua sắm</a>
			</li>
	
</ul><!-- end product list -->


        </div>
    </div>
	<div class="pure-quick-view"></div><div class="quick-view-overlay"><div class="overlay-loader"><div class="loader"></div></div></div><div class="pure-search-holder"><div class="inner">

<form role="search" method="get" class="search-form" action="http://dochoidaiviet.com/">
	<input type="search" id="search-form-611f70028c190" class="search-field" placeholder="Tìm kiếm &hellip;" value="" name="s" />
	<button type="submit" class="search-submit"><i class="pure fa-search"></i></button>
</form>
</div></div><script src="https://uhchat.net/code.php?f=c15295"></script>
<!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "339833559982956");
      chatbox.setAttribute("attribution", "setup_tool");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v11.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>	<script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
	</script>
	<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70' id='jquery-blockui-js'></script>
<script type='text/javascript' id='wc-add-to-cart-js-extra'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"Xem gi\u1ecf h\u00e0ng","cart_url":null,"is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.8.2' id='wc-add-to-cart-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4' id='js-cookie-js'></script>
<script type='text/javascript' id='woocommerce-js-extra'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.8.2' id='woocommerce-js'></script>
<script type='text/javascript' id='wc-cart-fragments-js-extra'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_090e1a22c29cedc46ee1602033011e16","fragment_name":"wc_fragments_090e1a22c29cedc46ee1602033011e16","request_timeout":"5000"};
/* ]]> */
</script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.8.2' id='wc-cart-fragments-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/pure-woocommerce/assets/js/jquery.magnific-popup.min.js?ver=1.1.2' id='magnific-popup-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/pure-woocommerce/assets/js/jquery.sticky-kit.min.js?ver=1.1.3' id='sticky-kit-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/themes/pure/lib/js/flickity.min.js?ver=2.1.1' id='flickity-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/themes/pure/lib/js/slideout.min.js?ver=1.0.1' id='slideout-js'></script>
<script type='text/javascript' id='pure-woocommerce-js-extra'>
/* <![CDATA[ */
var PUREWOOCOMMERCE = {"siteURL":"http:\/\/dochoidaiviet.com\/","ajaxURL":"http:\/\/dochoidaiviet.com\/wp-admin\/admin-ajax.php","addToCartAdditionalText":""};
/* ]]> */
</script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/pure-woocommerce/assets/js/pure-woocommerce.min.js?ver=1.0.7.9' id='pure-woocommerce-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-includes/js/hoverIntent.min.js?ver=1.8.1' id='hoverIntent-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/themes/pure/lib/js/superfish.min.js?ver=1.7.9' id='superfish-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/themes/pure/lib/js/isotope.pkgd.min.js?ver=3.0.5' id='isotope-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/themes/pure/lib/js/pure.min.js?ver=1.0.10.5' id='Pure-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/themes/pure/lib/js/pure-fontawesome.min.js?ver=1.0.10.5' id='font-awesome-5-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-includes/js/wp-embed.min.js?ver=5.7.2' id='wp-embed-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=2.8.2' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/elementor-pro/assets/lib/sticky/jquery.sticky.min.js?ver=2.8.2' id='elementor-sticky-js'></script>
<script type='text/javascript' id='elementor-pro-frontend-js-before'>
var ElementorProFrontendConfig = {"ajaxurl":"http:\/\/dochoidaiviet.com\/wp-admin\/admin-ajax.php","nonce":"bc41483a72","shareButtonsNetworks":{"facebook":{"title":"Facebook","has_counter":true},"twitter":{"title":"Twitter"},"google":{"title":"Google+","has_counter":true},"linkedin":{"title":"LinkedIn","has_counter":true},"pinterest":{"title":"Pinterest","has_counter":true},"reddit":{"title":"Reddit","has_counter":true},"vk":{"title":"VK","has_counter":true},"odnoklassniki":{"title":"OK","has_counter":true},"tumblr":{"title":"Tumblr"},"delicious":{"title":"Delicious"},"digg":{"title":"Digg"},"skype":{"title":"Skype"},"stumbleupon":{"title":"StumbleUpon","has_counter":true},"telegram":{"title":"Telegram"},"pocket":{"title":"Pocket","has_counter":true},"xing":{"title":"XING","has_counter":true},"whatsapp":{"title":"WhatsApp"},"email":{"title":"Email"},"print":{"title":"Print"}},"menu_cart":{"cart_page_url":"http:\/\/dochoidaiviet.com\/gio-hang\/","checkout_page_url":"http:\/\/dochoidaiviet.com\/thanh-toan\/"},"facebook_sdk":{"lang":"vi","app_id":""}};
</script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/elementor-pro/assets/js/frontend.min.js?ver=2.8.2' id='elementor-pro-frontend-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.7.3' id='elementor-dialog-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=4.4.6' id='swiper-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"2.8.2","urls":{"assets":"http:\/\/dochoidaiviet.com\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"general":{"elementor_global_image_lightbox":"yes"},"editorPreferences":[]},"post":{"id":13,"title":"Gi\u1edbi thi\u1ec7u","excerpt":""}};
</script>
<script type='text/javascript' src='http://dochoidaiviet.com/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=2.8.2' id='elementor-frontend-js'></script>
</body></html>
